<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>sr_confirm_prototype</title>

    <!-- <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>
    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap-reboot.css') }}"/>
    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/datatables.css') }}"/>
    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/datatables.js') }}"></script>
    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/main.js') }}"></script> -->

</head>

<body>

{# sentiment input#}
<div class="container">
    <br><br>
    <div class="row navbar-static-top">
        <h1>sr_confirm_prototype</h1>
    </div>
    <br>
    <h5 style="color: lightseagreen">//confirm 할 sr을 찾는 조건</h5>
    <h5 style="color: lightseagreen">//상품코드 단위가 아닐 수도 있는것 같아서 피드팩 필요</h5>
    <div class="row">
        <div class="col-8">
            <form id="date_form">
                <label for="">SR 접수일자</label>
                <input type="text" name="sr_start_date" class="form-control">
                <input type="text" name="sr_end_date" class="form-control">
            </form>
        </div>
        <div class="col">
            <form id="code_form">
                <label for="">상품코드</label>
                <input type="text" name="product_code" class="form-control">
            </form>
        </div>
        <div class="col">
            <form id="code_form">
                <label for="">다른조건</label>
                <input type="text" name="product_code" class="form-control">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label for="">SR유형 대분류</label>
            <select name="sr_b_cate" id="sr_b_cate_form" class="form-control">
                <option value="11">11</option>
                <option value="22">22</option>
                <option value="33">33</option>
                <option value="44">44</option>
            </select>
        </div>
        <div class="col">
            <label for="">SR유형 중분류</label>
            <select name="sr_m_cate" id="sr_m_cate_form" class="form-control">
                <option value="11">11</option>
                <option value="22">22</option>
                <option value="33">33</option>
                <option value="44">44</option>
            </select>
        </div>
        <div class="col">
            <label for="">SR유형 소분류</label>
            <select name="sr_s_cate" id="sr_s_cate_form" class="form-control">
                <option value="11">11</option>
                <option value="22">22</option>
                <option value="33">33</option>
                <option value="44">44</option>
            </select>
        </div>
        <div class="col-1">
            <button id="search_button" class="btn btn-primary">제출</button>
        </div>
    </div>
    <br>

    <h5 style="color: lightseagreen">//위의 조건에 따른 SR 검색결과</h5>
    <h5 style="color: lightseagreen">//row를 누르면 해당 sr이 하단 영역에 표시</h5>
    <h5 style="color: lightseagreen">//어떤 column을 추가로 봐야하는지 혹은 삭제해야하는지 피드팩 필요</h5>

    <table id="example" class="table display table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <td>customer_no</td>
                <td>category_b</td>
                <td>category_m</td>
                <td>category_s</td>
                <td>sr_no</td>
                <td>sr_text</td>
                <td>category_ml</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>24778209</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116324802</td>
                <td>@고객 : &lt;출고완료&gt;&lt;입고택배-택배&gt;&lt;완전매입상품&gt;사이즈문의@GS : 남여공용으로 여유있게 출시 되었으니 중간 사이즈인 경우 크게 선택해주세요@연락처 : 01082662114</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>22375339</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115060297</td>
                <td>@고객 : &lt;입금확인&gt;&lt;입고택배-택배&gt;&lt;완전매입상품&gt;남자 쇼호스트가 입는 상품사이즈/키@GS : 100사이즈이고 177CM임</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>6617289</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456369</td>
                <td>@고객 : &lt;입금확인&gt;&lt;입고택배-택배&gt;&lt;완전매입상품&gt;정사이즈하라고했는데 넉넉하게나온건지@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다※ 치코트 자체가 넉넉하게
                    입는 </td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>20181015</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115764493</td>
                <td>@고객 : 키160 중학생여아 착용가능한지문의/국민카드 즉시할인문의@GS : 사이즈선택:85(44), 90(55) 사이즈 안내■착용 전 일 경우 수령 후 15일 이내 반품 가능■외부착용/ 세탁/
                    수선 후 반품 불가"
                </td>
                <td>성인이 아닌경우 사이즈문의</td>
            </tr>
            <tr>
                <td>20181021</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116027595</td>
                <td>@고객 : 사이즈가 몇까지나오죠 / 네@GS : 85 110입니다.</td>
                <td>가장 큰/작은 사이즈</td>
            </tr>
            <tr>
                <td>33710984</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115457699</td>
                <td>@고객 : &lt;입금확인&gt;&lt;입고택배-택배&gt;&lt;완전매입상품&gt;사이즈문의/ 정사이즈인지문의@GS : 정사이즈입니다 / ※ 치코트 자체가 넉넉하게 입는 옷이기도하고, 겨울철 두꺼운 이너와
                    함께 입기도하여엀</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>33728577</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456452</td>
                <td>@고객 : &lt;입금확인&gt;&lt;입고택배-택배&gt;&lt;완전매입상품&gt;사이즈 문의@GS : 정사이즈나 본인취향에 따라 크게 입을수도 있으니 보시고 판단안내/ 수긍@연락처 : 01091633245</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>33981722</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116187470</td>
                <td>@고객 : 177cm 95kg 평소 105와 110사이즈 입음@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다※ 치코트 자체가 넉넉하게 입는 옷이기도하고, 겨울철 두꺼운 이너와
                    함께 입기돀</td>
                <td>키/몸무게/허리 사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115290868</td>
                <td>@고객 : 사이즈가 공용으로 나와있는데 / 어디부터가 남성사이즈인가. 공용이라고 말만하지말고 / 상세적으로 확인해달라 요구@GS : 내일 18시까지 전화요청하시어 전화드림 @연락처 : 01033715675
                    @</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115454967</td>
                <td>@고객 : 남여 공용으로 다 입을수있는지 @GS : 가능 안내</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455005</td>
                <td>@고객 : 01042093463인입//핑크색상 XL 면99사이즈인지?@GS : 88사이즈 안내드림//수긍</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455171</td>
                <td>@고객 : 평소 55-66 착용함 // 사이즈문의 남성 쇼호스트 착용사이즈 문의드립니다@GS : 치코트 자체가 넉넉하게 입는 옷이기도하고, 겨울철 두꺼운 이너와 함께 입기도하여여유있게 나옴 90으례</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455181</td>
                <td>@고객 : 사이즈 문의@GS : 블랙,네이비,화이트 선택시:85(XS),90(S),95(M),100(L),105(XL),110(2XL)└핑크 선택시:85(XS),90(S),95(M),100(L),105(XL)</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455264</td>
                <td>@고객 : 남/여공용인가요?정사이즈인지?남성 쇼호스트/모델 사이즈 몇 인가요?@GS : 남/여공용정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다남성 쇼호스트/모델 사이즈 몇 인가쀀</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455279</td>
                <td>@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455328</td>
                <td>@GS : 남녀공용</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455345</td>
                <td>@고객 : 55사이즈가 뭔지 문의 /쇼호스트 여자 사이즈문의 @GS : 90 사이즈 안내 // 90안내</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455356</td>
                <td>@고객 : 상세 사이즈문의@GS : 안내 / 수긍</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455365</td>
                <td>@고객 : 여성 쇼호스트가 착용한 핑크색 사이즈문의@GS : 90</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455472</td>
                <td>@고객 : 사이즈 55인데 90으로 주문하면 맞는지지@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다※ 치코트 자체가 넉넉하게 입는 옷이기도하고, 겨울철 두꺼운 이너와 함께 </td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455595</td>
                <td>@고객 : 170키 착용 사이즈 문의@GS : 확인 어려움</td>
                <td>키/몸무게/허리 사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455721</td>
                <td>@고객 : 가격문의 사이즈문의 남자키가 184-190 사이 몸무게 80 키로 면 사이즈 뭘하면좋나요?@GS : 생방송협력사(C,D)[-] 님의 말 (오후 9:17) : 105요289000안내</td>
                <td>키/몸무게/허리 사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455723</td>
                <td>@고객 : 사이즈문의/ 남여 기장이 다른지문의@GS : 남여공용이라 사이즈 같음 안내함.</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455845</td>
                <td>@고객 : 키 153정도. 55사이즈 입으면 어떤사이즈 입어야되는지문의@GS : 개인에 따라 다르지만 작은것보단 넉넉하게 입으시길 권장 참고하여 부탁드림</td>
                <td>키/몸무게/허리 사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455886</td>
                <td>@고객 : 여성쇼핑호스트 착용사이즈,키가 어떻게 되나요여성 키가 161cm/ 몸무게 68일경우 사이즈 어떻게 선택하면 될까요@GS : APP(MC/PC)할인:10%(28,900원),생방송협력사(C,D)[-]
                    님의 말 (오후 9:21) : 90</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455909</td>
                <td>@고객 : 윤찬종(U3764)[상담원] 님의 말 (오후 9:23) : 158 / 60 kg 아이라는대 ...어떤걸 권해드려야할까요 생방송협력사(C,D)[-] 님의 말 (오후 9:23) : 95요...</td>
                <td>성인이 아닌경우 사이즈문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455931</td>
                <td>@고객 : 1. 중3이 착용할 만한 사이즈문의@GS : 정사이즈 주문/착용하실 분 사이즈 확인후 주문안내-수긍@연락처 : 07042159116</td>
                <td>성인이 아닌경우 사이즈문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115455986</td>
                <td>@고객 : M 총길이@GS : 108</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456051</td>
                <td>@고객 : 사이즈문의@GS : ※ 치코트 자체가 넉넉하게 입는 옷이기도하고, 겨울철 두꺼운 이너와 함께 입기도하여여유있게 나옴</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456084</td>
                <td>@고객 : 사이즈문의@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456090</td>
                <td>@고객 : 사이즈문의@GS : 안내종료 . @연락처 : 01042097190</td>
                <td>사이즈선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456098</td>
                <td>길이문의100/L&gt;&gt;110(총장어깨너비 50가슴둘레 124앱스토&gt;&gt; 지에스홈쇼핑회원가입 네이버/카카오 연동되어 자동로그인안내//수긍</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456114</td>
                <td>@고객 : 90 길이@GS : 106@연락처 : 010-9629-2636</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456136</td>
                <td>@GS : 85 /90총장 -104/ 10685 /90 가슴 -110 /114■착용 전 일 경우 수령 후 15일 이내 반품 가능■외부착용/ 세탁/ 수선 후 반품 불가"</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456137</td>
                <td>@고객 : 여성 쇼호스트 키랑 사이즈 @GS : 90키모름</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456263</td>
                <td>@고객 : 85(XS) 여자 55사이즈랑 같나요?@GS : 이준태(M0931)[상담원] 님의 말 (오후 9:33) : 85(XS) 여자 55사이즈랑 같나요? 생방송협력사(C,D)[-] 님의 말 (오후
                    9:34) : 44요 안내함.</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456311</td>
                <td>@고객 : 여자쇼호스트 착용사이즈?@GS : 90 사이즈안내드림</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456343</td>
                <td>@고객 : 모델들이 입고 잇는 사이즈 길이는 키가 165인데155일 경우에는 길이가 더 긴거져@GS : 모델 기준보다 작은 사이즈 만큼 더 롱으로 착용 가능함</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456396</td>
                <td>@고객 : 여성 66사이즈 사이즈선택문의@GS : 95요</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456403</td>
                <td>@고객 : 55 사이즈가 S 인지 문의 @GS : 90사이즈 S ㄱ</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456430</td>
                <td>@고객 : 평소 95-100입는데 사이즈 몇입어야하나요 @GS : 겨울옷이라 여유있는핏으로 나와 95 사이즈주문하시면될듯함</td>
                <td>평소 착용사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115456500</td>
                <td>@고객 : 95 총장@GS : 108</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115696091</td>
                <td>@고객 : 제일 작은사이즈문의@GS : 85XS / 총장 104</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115699970</td>
                <td>@고객 : -사이즈 문의 . 여성 66 어떤건인지@GS : -M안내@연락처 : 01033594185</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115700240</td>
                <td>@고객 : 남성 쇼호스트분 착용사이즈@GS : 105@연락처 : 01041221234</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115700466</td>
                <td>@고객 : -사이즈 문의 / 크게 나온건지@GS : ● 정사이즈인가요● 중간사이즈인 경우 어떻게 선택하나요 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다※ 치코트 자체가 넉넉하</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115700843</td>
                <td>@고객 : 여성 호스트 키와 몸무게 문의@GS : 모름</td>
                <td>SH착용사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115700852</td>
                <td>@고객 : 사이즈문의의@GS : 정사이즈입니다 / 중간사이즈인 경우에도 정사이즈 권장합니다</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115700951</td>
                <td>@고객 : 55사이즈@GS : 85사이즈 권장</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701035</td>
                <td>@고객 : 평소그대로 주문하냐고 문의@GS : 맞음</td>
                <td>평소 착용사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701070</td>
                <td>@고객 : 사이즈@GS : 남여공용/여성 85사이즈부터 있음@연락처 : 01028209542</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701097</td>
                <td>@고객 : 키 158센티 105사이즈 입으로 길지 문의@GS : 공용으로 길이가 길것같음</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701329</td>
                <td>@고객 : 55사이즈 착용 사이즈@GS : 85~90권장</td>
                <td>사이즈 표기 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701384</td>
                <td>@고객 : 사이즈문의@GS : 안내 / 수긍</td>
                <td>사이즈선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701508</td>
                <td>@고객 : 정사이즈 인지문의 @GS : 정사이즈 주문</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115701595</td>
                <td>@고객 : 100사이즈 상세사이즈문의@GS : 총장 110/ 팔길이 65 안내</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S115702379</td>
                <td>@고객 : 사이즈문의</td>
                <td>주문후 남녀 구분없는지 확인</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116016632</td>
                <td>@고객 : 115 사이즈 @GS : 110까지 제작 임 @연락처 : 07082266806</td>
                <td>가장 큰/작은 사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116090926</td>
                <td>@고객 : 총기장 90문의 . 반품가능한지 : 106. 반품배송비없음</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116126997</td>
                <td>@고객 : 핑크 110?@GS : 없음</td>
                <td>가장 큰/작은 사이즈</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116127434</td>
                <td>@고객 : 한단계 크게 선택을 하라는 말을 봐서 전화함@GS : 한단계 크게 선택을 하라는 부분은 확인되지 않음 양해 / 착용하시는 사이즈로 주문을 해주시면됨 안내고객 - 수긍</td>
                <td>사이즈 선택문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116127594</td>
                <td>@고객 : 44 총 길이 문의@GS : 104cm 안내 / 수긍</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116186411</td>
                <td>@고객 : 키가 140대임 / 롱패딩 사이즈문의@GS : 90-950입으실때 106-109정도 되는점 안내드림</td>
                <td>키/몸무게/허리 사이즈로 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116186452</td>
                <td>@고객 : 110 가슴둘레?@GS : 134@연락처 : 01066677311</td>
                <td>상세 사이즈 문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116186479</td>
                <td>@고객 : 원래 120 사이즈 입는데, 주문해도 괜찮을지.@GS : 넉넉하게 나온 제품이기는 하나, 겨울에 두꺼운 옷을 입고 입기 때문에 정사이즈 주문 권유. 해당 제품 제일큰 사이즈는 110 사이즈
                    라고</td>
                <td>성인이 아닌경우 사이즈문의</td>
            </tr>
            <tr>
                <td>34184827</td>
                <td>상품관련</td>
                <td>상품문의</td>
                <td>사이즈문의</td>
                <td>S116186569</td>
                <td>@고객 : 4학년 153cm인데 입을 수 있는지 문의@GS : 가장 작은 사이즈 선택 가능하나 성인용 제품이므로 아동체형에 맞지 않을 수 있음 안내★사이즈선택:┌블랙,네이비,화이트 선택시:85(XS),90(S),95</td>
                <td>성인이 아닌경우 사이즈문의</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>customer_no</td>
                <td>category_b</td>
                <td>category_m</td>
                <td>category_s</td>
                <td>sr_no</td>
                <td>sr_text</td>
                <td>category_ml</td>
            </tr>
        </tfoot>
    </table>


</div>

<br><br><br>



<div class="container">
    <h5 style="color: lightseagreen">//이 부분은 키워드에서 끝내는게 아니라 더 많은 정보를 주도록 바꿀예정, 어떤 정보가 좋을지 피드백 필요</h5>
    <h5 style="color: lightseagreen">//키워드 선정 방식은 추후 더 많은 논의 필요</h5>
    <h5 style="color: lightseagreen">//고객 키워드 : 앞부분 &lt;, &gt;로 쌓여있는 부분 다른 색상으로 표시</h5>
    <h5 style="color: lightseagreen">//GS 키워드 : 중요하다고 생각되는 키워드만 선별 (+ 활동내역 추가할 수도 있음)</h5>
    <h5 style="color: lightseagreen">//결과 : 알맞다고 판단되는 버튼을 누르면 자동으로 다음 SR 화면으로 이동 예정</h5>
    <table class="table text-center table-striped table-bordered">
        <thead>
            <tr class="">
                <td class="width: 16%">본문</td>
                <td class="width: 66%">키워드</td>
                <td class="width: 30%">결과</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>고객</td>
                <td>
                    <h4>
                        <span class="badge badge-info">출고완료</span>
                        <span class="badge badge-info">입고택배-택배</span>
                        <span class="badge badge-info">완전매입상품</span>
                        <span class="badge badge-primary">사이즈</span>
                    </h4>
                </td>
                <td rowspan="3">
                    <h6><button type="button" class="btn btn-secondary btn-lg">사이즈 선택문의</button>76%</h6>
                    <h6><button type="button" class="btn btn-secondary btn-lg">상세 사이즈 문의</button>15%</h6>
                    <h6><button type="button" class="btn btn-secondary btn-lg">사이즈 표기 문의</button>1%</h6>
                </td>

            </tr>
            <tr>
                <td>GS</td>
                <td>
                    <h4>
                        <span class="badge badge-primary">남여공용</span>
                        <span class="badge badge-primary">여유</span>
                        <span class="badge badge-primary">출시</span>
                        <span class="badge badge-primary">중간</span>
                        <span class="badge badge-primary">사이즈</span>
                        <span class="badge badge-primary">크</span>
                        <span class="badge badge-primary">선택</span>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>text</td>
                <td>@고객 : &lt;출고완료&gt;&lt;입고택배-택배&gt;&lt;;완전매입상품&gt;사이즈문의@GS : 남여공용으로 여유있게 출시 되었으니 중간 사이즈인 경우 크게 선택해주세요</td>
            </tr>
        </tbody>
    </table>
</div>

{#<span class="badge badge-primary">Primary</span>#}
{#<span class="badge badge-secondary">Secondary</span>#}
{#<span class="badge badge-success">Success</span>#}
{#<span class="badge badge-danger">Danger</span>#}
{#<span class="badge badge-warning">Warning</span>#}
{#<span class="badge badge-info">Info</span>#}
{#<span class="badge badge-light">Light</span>#}
{#<span class="badge badge-dark">Dark</span>#}

<br><br><br>

<div class="container">
<h5 style="color: lightseagreen">//이전, 이후 SR 이동 버튼</h5>

    <h2 class="row text-center">
        <span class="col"><button type="button" class="btn btn-light btn-lg"> << prev </button></span>
        <span class="col"></span>
        <span class="col"><button type="button" class="btn btn-light btn-lg"> >> next </button></span>
    </h2>
<h5 style="color: lightseagreen">//피드백 요청드린 부분 말고도 더 보강할 내용있다면 말씀부탁드립니다!</h5>

</div>

<br><br><br>

<div id="coloured_text" class="display-none"></div>

{# TODO modal and progress bar for ver_2#}
{#<div class="modal js-loading-bar" id="page_loading">#}
{#    <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#    <div class="modal-body">#}
{#        <div class="progress progress-popup">#}
{#            <div class="progress-bar"></div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>
