<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>sr_confirm_prototype</title>

  {#    <!-- <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/main.css') }}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap.css') }}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/bootstrap-reboot.css') }}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='css/datatables.css') }}"/>#}
    {#    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>#}
    {#    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/bootstrap.js') }}"></script>#}
    {#    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>#}
    {#    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/datatables.js') }}"></script>#}
    {#    <script src="http://genie.gsshop.com/sr_confirm{{ url_for('static', filename='js/main.js') }}"></script> -->#}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/amsify.suggestags.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.amsify.suggestags.js') }}"></script>

{#    <script src="{{ url_for('static', filename='js/main.js') }}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
  <br>
    <div class="content" id="app">
      <div class="container">
        <div class="row navbar-static-top"><h4>sr_confirm_prototype</h4></div>
            <br>
          <div class="row">
            <table class="table text-center table-striped table-bordered top_table" >
              <thead>
                <tr class="">
                  <th style="width: 10%"></th>
                  <th style="width: 70%">키워드</th>
                  <th style="width: 20%">결과</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h5>고객</h5></td>
                  <td>
                    <h5 id="customer_keywords">
{#                      <input type="text" name="customer" id="customer객_tag" value="">#}
                    </h5>
                  </td>
                  <td rowspan="3">
                      <div id="tag_box" style="display: none">
                        <h6><button type="button" id="first_tag" class="btn btn-secondary "></button> <span class="first_per"></span></h6>
                        <h6><button type="button" id="second_tag" class="btn btn-secondary"></button> <span class="second_per"></span></h6>
                        <h6><button type="button" id="third_tag" class="btn btn-secondary "></button> <span class="third_per"></span></h6>
                        <select name="select_tag" id="select_tag" class="form-control">
                            <option value="">기타선택</option>
                            <option value="개수/중량문의">개수/중량문의</option>
                            <option value="맛 불만족">맛 불만족</option>
                            <option value="변질불만">변질불만</option>
                            <option value="보관방법 문의">보관방법 문의</option>
                            <option value="사과주스누락">사과주스누락</option>
                            <option value="사이즈 문의">사이즈 문의</option>
                            <option value="사이즈작음불만">사이즈작음불만</option>
                            <option value="외관불량">외관불량</option>
                        </select>
                        <input type="text" id="sr_etc" size="20" class="form-control">
                      </div>
                  </td>

                </tr>
                <tr>
                  <td><h5>GS</h5></td>
                  <td>
                    <h5 id="gs_keywords">
{#                      <span class="badge badge-primary">남여공용</span>#}
{#                      <span class="badge badge-primary">여유</span>#}
{#                      <span class="badge badge-primary">출시</span>#}
{#                      <span class="badge badge-primary">중간</span>#}
{#                      <span class="badge badge-primary">사이즈</span>#}
{#                      <span class="badge badge-primary">크</span>#}
{#                      <span class="badge badge-primary">선택</span>#}
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td><h5>본문</h5></td>
                  <td id="cust_gs_text"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <form action="" method="post" enctype="multipart/form-data" id="upload_form">
              <input type="file" name="userfile" class="file_input"/>
            </form>
            <button class="submit col-1">파일 전송</button>
            <div class="col-6"></div>
            <button class="confirm ">confirm</button>

          </div>

      </div>
      <br><br><br>
      <div id="example" class="table display table-striped table-bordered" style="width:100%">

      </div>

{#      <div class="container">#}
{#        <h2 class="row text-center">#}
{#          <span class="col"><button type="button" class="btn btn-light btn-lg"> << prev </button></span>#}
{#          <span class="col"></span>#}
{#          <span class="col"><button type="button" class="btn btn-light btn-lg"> >> next </button></span>#}
{#        </h2>#}
{#      </div>#}
      <div id="coloured_text" class="display-none"></div>
    </div>


    <script>
    $(document).ready(function(){

    var table;
    var selected_row;


      $('#customer_tag').amsifySuggestags({
        type : 'amsify',
        suggestions: []
      });

      $('.submit').click(function(){
        var form = $('#upload_form')[0];
        var formData = new FormData(form);
        formData.append("userfile", $(".file_input")[0].files[0]);

        $.ajax({
          url: "{{ url_for('upload') }}",
          processData: false,
          contentType: false,
          data: formData,
          type: 'POST',
          success: function(result){
            $('#example').html(result);
            $('#example table').attr('id', 'sr_table');
            table = $('#sr_table').DataTable();
            {#$.getScript("{{ url_for('static', filename='js/main.js') }}")#}

          },
          error: function(err){
            console.log(err);
          },
            complete: function (err) {
                $.getScript("{{ url_for('static', filename='js/main.js') }}")
            }
        });

      })

    });








    function setAnalysisBox(data){
      console.log(data);
      $('#first_tag').text(data.tag_first_name);
      $('.first_per').text(data.tag_first_prob);

      $('#second_tag').text(data.tag_second_name);
      $('.second_per').text(data.tag_second_prob);

      $('#third_tag').text(data.tag_third_name);
      $('.third_per').text(data.tag_third_prob);


    }
    </script>

  </body>
</html>





<br><br><br>

<div id="coloured_text" class="display-none"></div>

{# TODO modal and progress bar for ver_2#}
{#<div class="modal js-loading-bar" id="page_loading">#}
{#    <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#    <div class="modal-body">#}
{#        <div class="progress progress-popup">#}
{#            <div class="progress-bar"></div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#</div>#}

{#      let key_arr = data.kwd_cust_origin;#}
{#      for(let i = 0; i < key_arr.length; i ++){#}
{#        let tag = `<span class="amsify-select-tag col-bg" data-val="${key_arr[i]}">${key_arr[i]}<b class="amsify-remove-tag">✖</b></span>`;#}
{#        $('#customer_tag').siblings('.amsify-suggestags-area').find('.amsify-suggestags-input-area-default').prepend(tag);#}
{#      }#}
